{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>dummy | json mocking api</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/index.css" />
    </head>

    <body>
        {{template "nav"}}
        {{block "content" .}}{{end}}
        {{template "footer"}}
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/solarized-dark.min.css">
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad()</script>
    </body>

</html>
{{end}}